<div class="picker">
  <h2>Select your theme</h2>
  <button class="b1 dark-green" (click)="setTheme('120')">Dark Green</button>
  <button class="b1 dark-red" (click)="setTheme('350')">Dark Red</button>
  <button class="b1 dark-blue" (click)="setTheme('233')">Dark Blue</button>
  <button class="b1 dark-brown" (click)="setTheme('10')">Dark Brown</button>
  <button class="b1 dark-olive" (click)="setTheme('50')">Dark Olive</button>
  <button class="b1 dark-magenta" (click)="setTheme('274')">
    Dark Magenta
  </button>
  <br />
  <button class="b1 light-green" (click)="setTheme('120', 'light')">
    Light Green
  </button>
  <button class="b1 light-red" (click)="setTheme('350', 'light')">
    Light Red
  </button>
  <button class="b1 light-blue" (click)="setTheme('233', 'light')">
    Light Blue
  </button>
  <button class="b1 light-brown" (click)="setTheme('10', 'light')">
    Light Brown
  </button>
  <button class="b1 light-olive" (click)="setTheme('50', 'light')">
    Light Olive
  </button>
  <button class="b1 light-magenta" (click)="setTheme('274', 'light')">
    Light Magenta
  </button>
</div>
